body {
  background-color: black;
background-image: url(./relate-it-mirror.jpg);
}
title {
  font-color: white;
}
h1 {
  font-size: 40px;
  color: gray;
  font-family: Georgia, serif;
  margin-left: 200px;
}
a {
  color: white;
}
ul {
    padding: 10px;
    font-family: Georgia, serif;;
    text-align: center;
    font-size: 15px;
  }

  li {
        display: inline;
        padding: 0px 10px 0px 10px;
      }
h2 {
  font-family: Georgia, serif;
  max-width: 1000px;
  color: white;
  margin-left: 200px;
}
form {
    font-family: Georgia, serif;
    color: white;
    margin-left: 200px;
    font-size: 23px;
}
